@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

body {
  transition: 0.3s;
  margin: 0;
  padding: 0;
  background-color: rgb(244, 241, 241);
  font-family: 'Poppins', sans-serif;
  color:rgb(57, 57, 57);
}

h1 {
  font-size: 70px;
  line-height: 70px;
  font-weight: 300;
  margin: 10px 0;
}

h2 {
  font-size: 40px;
  line-height: 40px;
  font-weight: 300;
  margin: 50px 0 10px 0;
}

p {
  margin: 0px;
  font-size: 20px;
}

a {
  color:rgb(60, 11, 88);
  font-size: 20px;
  text-decoration: none;
  font-weight: 600;
  border: 1px solid black;
  border-radius: 30px;
  padding: 10px;
}

.dark a {
  color: black;
  background-color:rgb(246, 236, 169);
}

header {
  display: flex;
  justify-content: flex-end;
  padding: 30px;
}

.switch {
  width: 80px;
  height: 40px;
  border-radius: 20px;
  background-color: rgb(39, 38, 38);
  position: relative;
}

.flicker {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: 5px;
  left: 5px;
  transition: 0.3s;
  box-shadow: 
    inset 4px 4px 4px rgb(255,255,255),
    inset -4px -4px 4px rgb(195 193 198 / 90%);
}

.dark {
  background-color: rgb(12, 12, 12);
  transition: 0.3s;
}

.moon {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  box-shadow: 4px 4px 0 0 rgb(255, 255, 255);
  position: absolute;
  top: 5px;
  left: 45px;
}

.dark .flicker {
  transform: translateX(40px);
}

.dark > * {
  color:rgb(255, 255, 255);
}

.main {
  height: 80vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}

.main-text {
  padding: 30px;
  margin-bottom: 100px;
}

.square {
  width: 98%;
  margin: 1%;
  height: 350px;
  background-color: rgb(255, 255, 255);
  text-align: center;
}

.dark .square {
  background-color: rgb(71, 71, 71);
}

#revenoo {
  background-image: url("images/wire-frame.png");
  background-size: cover;
}

#burgerrator {
  background-image: url("images/case-study.png");
  background-size: cover;
}

#news {
  background-image: url("images/case-study.png");
  background-size: cover;
}

#dates {
  background-image: url("images/video-thumbnail.png");
  background-size: cover;
}

.sub-section {
  display: flex;
  flex-direction: column;
}

.section-portfolio {
  display: flex;
}

img {
  width: 80%;
  align-self: center;
}

#portfolio-header {
  display: flex;
  justify-content: center;
}



footer {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px 30px;
    color: white;
    background-color:rgb(20, 20, 20);
}

#socials{
  border: 1px solid white;
  border-radius: 20px;
  padding: 20px;
  cursor: pointer;
}

.dark footer {
  background-color:rgb(230, 255, 177);
  color: black;
}

@media only screen and (max-width: 870px) {
  .main-text {
    width: 50%;
  }

  .square {
    width: 48%;
    margin: 1%;
    height: 600px;

  }

  a {
    color:rgb(60, 11, 88);
    font-size: 10px;
    text-decoration: none;
    font-weight: 600;
    border: 1px solid black;
    border-radius: 13px;
    padding: 10px;
  }

  .main {
    height: 80vh;
    display: flex;
    flex-direction: Column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 250px 0 150px 0;
  }

  .square {
    width: 78%;
    margin: 10%;
    height: 350px;
    background-color: rgb(255, 255, 255);
    text-align: center;
  }

  .sub-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  h2 {
    font-size: 30px;
    line-height: 20px;
    font-weight: 600;
    padding-top: 20px;
    margin: 20px 0 10px 0;
  }
  
  p {
    margin: 0px;
    font-size: 14px;
  }

  h1 {
    font-size: 3rem;
  }

  #portfolio-header {
    display: flex;
    justify-content: center;
  }

  #pic{
    border: 1px solid black;
    padding: 10px;
    border-radius: 40px;
  }

  #socials{
    border: 1px solid white;
    border-radius: 20px;
    padding: 20px;
    cursor: pointer;
  }

  .section-portfolio {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .main-text {
    text-align: center;
    width: 100%;
    padding: 30px;
    margin-bottom: 100px;
  }

  .main-text h1 {
    font-weight: 600;
  }

  .main-text p {
    margin: 0 15%;
    font-size: 1rem;
  }
}

/*@media only screen and (max-width: 1300px) {
  .hero-image {
    display: none;
  }
}*/